.container{
  width: 100%;
  padding:0;
  margin:0;
}
.row{
  width:100%;
  padding:0;
  margin:0;
}
.col-lg-3, .col-lg-9, .col-lg-12{

  padding:0;
  margin:0;
}


/* #mark-read-link {
  color: #9b1522;
  font-weight: 700;

}

.notifications-header {
  color: #9b1522;
  font-size: 25px;
  font-weight: 200;
}

.notification-page-content {
  margin-left: 20%;
}

.btn-danger {
  float: right;
  color: #fff;
  background-color: #9b1522;
  border-color: #9b1522;
}

.btn-accept-decline{
  margin-left:10px;
}

Notifications Pop Up

.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}

.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}

.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}

.notify-item.success {
  background-color: rgba(81, 163, 81, 0.4);
}

.notify-item.error {
  background-color: rgba(203, 100, 94, 0.8);
}

.notify-item.info {
  background-color: rgba(33, 150, 243, 0.8);
}

.notify-title {
  font-weight: 700;
} */