/* unreadNotifications  */
.notif-grid{
  display: flex;
  flex-direction: column;
  padding: 2em;
} 

.notif-header{
  color: #9b1522;
  font-size: 40px;
  font-weight: 340;
}

#my-notif{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
  padding:0;
}

.btn-accept-decline{
  margin: auto;
}

.btn-container{
  display: flex;
  justify-content: space-between;
}

.notif-col-container{
  height: 100%;
  display: flex;
}

#unreadNot{
  padding: 2em;
  text-align: left;
}

.btn-danger {
  float: right;
  color: #fff;
  background-color: #9b1522;
  border-color: #9b1522;
}
