* {
	box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 20px;
}

.landingPageInput {
  width: 60%;
  color: black;
}

.landingPageLabel {
  text-align: left;
  width: 60%;
}

.colBackground {
  background-color: rgba(0,0,0,.6);
  padding: 10px;
}

.styles_modal__gNwvD {
  width: 50%;
}

#background {
  color: white;
  background-image: url('../images/womengroupsedited.jpg');
  background-size: cover;
}

#landingPageTitle {
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}

#logo {
  width: 30%;
  height: auto;
  border-radius: 160px;
  padding: 10px;
}

#backgroundImage {
  width: 60%;
  height: auto;
  padding: 10px;
}

#landingPageRow {
  width: 45%;
  margin: 20% 30%;
}

#enterBtn {
  font-size: 20px;
  width: 55%;
  border-radius: 20px;
  background-color: rgba(254, 8, 101, 1);
}

#registerButton {
  padding: 10px;
  color: rgba(254, 8, 101, 1);
}

#registerButton:hover {
  color: white;
}

#registrationModal  {
  color: black;
} 
