.container {
display: flex;
flex-direction: row; 
justify-content: center; 
margin: auto;
max-width: 100%;

}

#field-form .form-control {
  width: 200px;
}

input[type=checkbox] {
  margin-left: 5px;
}

.btn-success {
  margin-top: 15px;
}
