.profile_info_connections {
    float: right;
}

.profile_info  {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#randomizer {
  text-align: left;
}

.feeds-header img {
  float: right;
  margin: 18px;
  margin-left: 5%;
  margin-right: 13%;
}

#profile-pic img {
  margin-top: 10px; 
  width: 205px;
}

#profile_info p {
    margin: auto;
    width: 111%;
    padding: 10px;
}

#personal-feed {
  margin: 20px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  font-size: 200%;
}

.profile_info_connections {
    top: 18%;
    padding-left: 25px;
    width: 20%;
    right: 2%;
    font-weight: 900;
}

/* below is copy+paste from EventsPage/css/events.css couldn't get it to import*/

.feed-title {
padding: 10px 5px 0px 10px;
}


.feed-title {
  color: grey;
  font-family: sans-serif;
  font-size: 80%;

}
.feed-title span {
font-weight: 400;
color: #9B1526;
margin-bottom: 0;
font-family: sans-serif;
}

#feed-photo-in-corner img {
  border-radius: 50%;
  /* position: absolute; */
  /* z-index: -1; */
  margin-left: -34px;
  margin-top: 4px;

}

.no-feed {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(211,211,211,0.9);
  margin-top: 100px;

}

.feed {
border: 1px solid rgba(211,211,211,0.9);
border-radius: 3px;
padding: 5px;
min-height: 275px;
margin: -23px;
width: 781px;

}

.feed-page-content {
margin-left: 1.5%;
margin-top: -8px;
margin-right: 5%;
font-size: 16px;
font-family: sans-serif;
color: gray;
font-weight: 200;

}

.your-activity {
margin: 20px;
padding-left: 15%;
padding-right: 15%;
padding-top: 10%;
font-size: 140%;
color: #9B1526;

}

.feeds-header {
color: #9b1522;
font-size: 25px;
font-weight: 200;
margin: 8px;
margin-top: 1px;
}

.col-xs-offset-1 {
margin-left: 3%;
}

.col-xs-3 {
width: 25%;
padding-left: 0;
padding-right: 0;
margin-bottom: 35px;
}
.event-time {
padding-left: 10px;
padding-right: 10px;
}
.event-time p{
font-size: 14px;
font-weight: 200;
padding-bottom: 15px;
}