#left-side-bar {
  position: fixed;
  left: 0;
  top: 0px;
  width: 20%;
  height: 100%;
  background-color: #e6e6e6;
  text-align: left;
}

#left-side-bar-content {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
  text-align: left;
}

.profile-photo img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}