#connection-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#connection-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

#connection-title {
  color: #9b1522;
  font-size: 25px;
}
