#left-side-bar {
  position: fixed;
  left: 0;
  top: 0px;
  width: 20%;
  height: 100%;
  background-color: #e6e6e6;
  text-align: left;
}

#left-side-bar-content {
  margin-top: 105px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
  text-align: left;
}

.profile-photo img {
  width: 175px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-info h3 {
  font-size: 12px;
  color: green;
  margin: 5px;
}

.profile-info h4 {
  font-size: 12px;
  color: red;
}