.modal-style {
  text-align: center;
}

.superUserButtonStyle:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: orangered;
  color: white;
}

.superUserButtonStyle {
  display: block;
  text-decoration: none;
  text-align: center;
  border: 2px solid indianred;
  margin: 15px;
  padding: 5px;
  width: 100%;
}

.adminButtonStyle {
  color: white;
  background-color: rgb(155, 21, 34);
  border: rgb(155, 21, 34);
  width: 100%;
}

.emailButtonStyle {
  color: white;
  background-color: rgb(155, 21, 34);
  border: rgb(155, 21, 34);
}

.buttonStyle {
  display: block;
  text-decoration: none;
  width: 100px;
  height: 25px;
  text-align: center;
  border: 2px solid #9b1522;
  background-color: #9b1522;
  color: white;
}

.buttonStyle:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.super-user {
  color: tomato;
}

#email-modal-header {
  text-align: center;
}