
.navbar-default {
  background-color: #9b1522;
}
.navbar {
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 30px;
}

#nav-header {
color: white;
font-size: 50px;
font-weight: 100;
margin-left: 150px;
margin-top: 17px;
font-family: 'alwaysforever', sans-serif;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav p {
  font-size: 12px;
  margin-bottom: 0;
}


i.fa {
font-size: 20px;
text-align: center;
}

.navbar-right {
margin: 0;
}
.navbar-nav img {
border-radius: 50%;
width: 35px;
border: 1px solid white;
}

.navbar-form {
margin: 0px;
padding-top: 15px;
padding-bottom: 15px;
}

.navbar-form .input-group >.form-control {
width: 250px;
height: 30px;
border-radius: 20px;

}

.input-group i {
position: absolute;
float: right;
top: 7px;
right: 7px;
color: gray;
z-index: 2;
cursor: pointer;
}

p {
font-family: 'Quicksand', sans-serif;
}

#auto {
background-color: white;
}

#list-of-users {
position: absolute;
}

#navbar button {
float: right;
margin-top: 32px;
background-color: #C82222;
height: 25px;
border: 1px solid #860A0A;
border-radius: 2px;
}

#navbar button span {
color: white;
font-size: 12px;
display: block;
}

#navbar button:hover {
background-color: #860A0A;
}