.navbar-default {
  background-color: #9b1522;
}

/* div within nav */
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Women in comedy left main text */
#nav-header {
  color: white;
  font-weight: 100;
  margin-top: 17px;
  font-family: "alwaysforever", sans-serif;
}

@media screen and (max-width: 1144px) {
  #nav-header {
    margin-left: -25px;
    margin-right: 0;
    font-size: 20px;
  }
}

/* Anchor tags within */
.navbar-default .navbar-nav > li > a {
  color: white;
}

/* text for icons in navbar*/
.navbar-default .navbar-nav p {
  font-size: 12px;
  margin-bottom: 0;
}

/*  */
i.fa {
  font-size: 20px;
  text-align: center;
}

.navbar-right {
  margin: 0;
}

@media (max-width: 909px) and (min-width: 768px) {
  .navbar-right {
    margin: -15px;
  }
}

@media (max-width: 934px) and (min-width: 910px) {
  .navbar-right {
    margin-top: -65px;
    margin-right: -5px;
  }
}

@media (min-width: 935px) {
  .navbar-right {
    margin-right: -5px;
  }
}

/* user icon */
.navbar-nav img {
  border-radius: 50%;
  width: 35px;
  border: 1px solid white;
}

/* navbar search bar */
.navbar-form {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-form .input-group > .form-control {
  width: 250px;
  height: 30px;
  border-radius: 20px;
}

/* search icon within input */
.input-group i {
  position: absolute;
  float: right;
  top: 7px;
  right: 7px;
  color: gray;
  z-index: 2;
  cursor: pointer;
}

p {
  font-family: "Quicksand", sans-serif;
}

#auto {
  background-color: white;
}

#list-of-users {
  position: absolute;
}

/*  unknown */
#navbar button {
  float: right;
  margin-top: 32px;
  background-color: #c82222;
  height: 25px;
  border: 1px solid #860a0a;
  border-radius: 2px;
}

/* unknown */
#navbar button span {
  color: white;
  font-size: 12px;
  display: block;
}

/* unknown */
#navbar button:hover {
  background-color: #860a0a;
}

/* font for 'admin status text' */
#admin-status-display {
  color: red;
  font-size: 18px;
}

/* switch status area */
.admin-status input {
  margin: 15px;
  padding: 5px;
}

/* possibly for true admin */
.admin-show {
  color: red;
  margin: 5px;
}

/* email modal styling */
.email-modal {
  width: 500px;
  height: 250px;
  resize: none;
}
