.comment{
    /* margin-top:1em; */
    display: grid;
    grid-template-columns: 5% 10% 80% 5%;
    grid-template-rows: 100%;
    padding: 0.5em;
}

.commenterImg{
    grid-column: 2/3;
}

.commenterImg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.commentContent{
   grid-column: 3/4;
}