.comment{
    display: grid;
    grid-template-columns: 2% 10% 84% 2%;
    grid-template-rows: 100%;
    padding: 0.4em; 
}

.commenterImg{
    grid-column: 2/3;
}

.commenterImg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.commentContent{
   grid-column: 3/4;
    align-self: center;
}
.commentContent span {
    color: #9b1522;
    margin-right:
}