#feed {
  border-color: #e6e6e6;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  width: 100%;
  margin-top: 45px;
}

#feed-content {
  padding: 0 30px 10px 30px;
  position: absolute;
  top: -20px;
}

#feed-content.event-comment {
  position: relative;
}

#feed-icons a {
  text-decoration: none;
  color: #9b1522;
  padding-right: 20px
}

#feed-icons a:active {
  opacity: 0.5;
}

#feed-icons a span {
  font-size: 18px;
}

#feed-icons a i {
  font-size: 20px;

}

.icon-stats {
  padding-left: 5px;
}

#feed-news {
  font-size: 22px;
  font-weight: 400;
}
#feed-news span {
  color: #9b1522;
}

#feed-detail {
  font-size: 14px;
  
  overflow: hidden;
}

#feed-input {
  margin-top: 20px;
}
#feed-input img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

}

#feed-input input {

  width: 85%;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 35px;
  position: relative;
  left: 15px;

}

#post-pro-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -1px;
  right: 350px;
  cursor: pointer;
}
