.feed-post-bar{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
}

.activity-title{
    grid-column: 1/3;
    grid-row: 1/2;
}

.search{
     grid-column: 1/2;
     grid-row: 2/3;
}

.postButtonDiv{
    grid-column: 2/3;
    grid-row: 2/3;
}



