#left-side-bar {
  position: fixed;
  left: 0;
  width: 20%;
  top: 65px;
  height: 100%;
  background-color: #e6e6e6;
  font-family: 'Quicksand', sans-serif;
}

#left-side-bar-content {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
}

#left-side-bar.event-info-bar {
  margin-top: 235px;
}     
