#left-side-bar{
  width: 100%;
  padding: 2em;
  background-color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  height: 100%;
  /* overflow: auto;   */

  display: flex;
  flex-direction: column;
  height: 100vh;
} 

#left-side-bar-content{
  overflow: auto;  
}
