.navbar {
  background-color: #9b1522;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 1;
  height: 100px;
  padding:0 !important;
  margin:0;
  border-radius:0;
  border:0!important;
} 
.navbar-header{
  grid-column: 1/2;
  display: grid;
  margin: 3% 0 3% 0;
}
.navbar-form{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1;
  padding:0 !important;
  margin:0 !important;
}
.navbar-form .input-group button{
  align-self: center;
  justify-content: end;
}
.nav-options{
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  grid-template-rows: 100%;
}

.nav-options li{
  grid-column: 1/2;
  grid-row: 1/2;
  list-style-type: none;
}
.nav-home{
  grid-column: 2/3;
  grid-row: 1/2;
}
.nav-events{
  grid-column: 3/4;
  grid-row: 1/2;
}
.nav-notif{
  grid-column: 4/5;
  grid-row: 1/2;
}
.nav-profile{
  grid-column: 5/6;
  grid-row: 1/2;
}
.nav-logout{
  grid-column: 6/7;
  grid-row: 1/2;
}
.nav-options li, .navbar-form, .nav-events, .nav-home, .nav-notif, .nav-profile, .nav-logout {
   margin: auto;  
}
.navbar-header a{
  align-self: center stretch;
  text-justify: center;

  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 2.2em;
  margin: auto;
  text-decoration: none;
}
.nav-options i p {
  font-size: 80%;
}
i.fa {
  color: white;
  font-size: 0.7em;
  text-align: center;
} 
.nav-profile img{
  border-radius: 50%;
  width: 2.5em;
  border: 1px solid white;
}
.navbar-form button{
  line-height: 0 !important;
  float: right;
  margin-right: 1em !important;
  margin: auto;
}
.nav-search{
  margin:auto;
  vertical-align: middle !important;
}
.nav-search input{
  width: 100%;
  align-self: center !important;
  margin: auto;
}
.input-group{
  margin: auto 0 auto 0;
  height: 0;
}
.nav-search div{
  width:100%;
}
.nav-search div div {
  height: 0 !important;
  display: block !important;
}
  /* Targeting the word "search" in the search bar  */
.nav-search div div div{
  bottom:0 !important;
  margin-bottom: auto;
  margin: 0 !important;
  left: 1em;
}
/* .input-group .nav-search div {
  width: 100% !important;
}
.input-group .nav-search div div {
  width: 100% !important;
} */
.input-group .nav-search div div input{
  width: 100% !important;
  overflow-x: hidden;
}

.navbar-form, .nav-events, .nav-home, .nav-notif, .nav-profile, .nav-logout{
   margin: auto;  
}


@media screen and (max-width: 1400px) {
  .navbar-header {
    font-size: 0.8em;
    margin-left: 1em;
  }

}

@media screen and (max-width: 1050px) {
  .navbar-header {
    font-size: 0.7em;
  }
}

/*
#nav-header {
  color:white ;
  font-size: 30px;
  font-weight: 0;
  margin-left: 100px;
  margin-top: 17px;
  font-family: 'alwaysforever', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav p {
    font-size: 12px;
    margin-bottom: 0;
}

#alert-button {
  padding-top: 16px;
}



.navbar-right {
  margin: 0;
}
.navbar-nav img {
  border-radius: 50%;
  width: 35px;
  border: 1px solid white;
}

.navbar-form {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-form .input-group >.form-control {
  width: 250px;
  height: 30px;
  border-radius: 20px;

}

.input-group i {
  position: absolute;
  float: right;
  top: 7px;
  right: 7px;
  color: gray;
  z-index: 2;
  cursor: pointer;
}

p {
  font-family: 'Quicksand', sans-serif;
}

#auto {
  background-color: white;
}

#list-of-users {
  position: absolute;
}

#navbar button {
  float: right;
  margin-top: 32px;
  background-color: #C82222;
  height: 25px;
  border: 1px solid #860A0A;
  border-radius: 2px;
}

#navbar button span {
  color: white;
  font-size: 12px;
  display: block;
}

#navbar button:hover {
  background-color: #860A0A;
}

.badge {
  background: rgba(0,0,0,0.5);
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position:absolute;
  top:-1px;
  padding:5px;
} */

