#page-content {
  width: 61%;
  position: relative;
  left: 20%;
  padding-bottom: 50px;
  top: 65px;
}

#page-content-margin {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  height: 100%;
}

#page-content.event-feed {
  position: absolute;
  top: 280px;
  left: 300px;
  right: 850px;
}