#page-content {
  width: 61%;
  position: fixed;
  left: 20%;
  padding-bottom: 50px;
  top: 65px;
}

#page-content-margin {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  height: 100%;
}

#page-content.event-feed {
  position: relative;
  top: 300px;
  left: 300px;
  right: 850px;
  overflow-y: scroll;
  max-height: 500px;
}