#page-content {
  overflow-y: scroll;
  /* width: 61%; */
  /* position: fixed; */
  left: 20%;
  padding-bottom: 50px;
  top: 65px;
  bottom: 0;
}

@media (max-width: 1008px) and (min-width: 768px) {
  #page-content {
    top: 110px;
  }
}

#page-content-margin {
 
  width: 80%;
  height: 100%;
  position: relative;
  margin: auto;
  margin-top: 2em;
}

#page-content.event-feed {
  top: 300px;
  left: 400px;
  right: 500px;
  overflow-y: scroll;
  max-height: 450px;
}
