.right-side{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding: 1em;
  width: 100vw;
  height: 100vh;

  background-color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  overflow: auto;
} 


@media (max-width: 1008px) and (min-width: 768px) {
  #right-side-bar-content {
    margin-top: 100px;
  }
}

html,
body {
  font-family: "Quicksand", sans-serif;
}
