#right-side{
  width: 20%;
  float:right;
  padding: 1em;
  padding-top: 8%;
  height: 100vh;

  background-color: #e6e6e6;
  font-family: "Quicksand", sans-serif;

} 
#right-side-bar-content{
  overflow: auto;
}

@media (max-width: 1008px) and (min-width: 768px) {
  #right-side-bar-content {
    margin-top: 100px;
  }
}

html,
body {
  font-family: "Quicksand", sans-serif;
}
