/* #right-side {
  position: fixed;
  right: -10px;
  top: 87px;
  width: 20%;
  height: 100%;
  background-color: #e6e6e6;
  z-index: 0;
  overflow-y: auto;
}

#right-side-bar-content {
  margin-top: 65px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
} */

 .right-side{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding: 1em;
  width: 100vw;
  height: 100vh;

  background-color: #e6e6e6;
  font-family: "Quicksand", sans-serif;
  overflow: auto;
} 


@media (max-width: 1008px) and (min-width: 768px) {
  #right-side-bar-content {
    margin-top: 100px;
  }
}

html,
body {
  font-family: "Quicksand", sans-serif;
}
