#event-title {
  color: #9b1522;
  font-weight: 600;
  font-size: 20px;
}

#event-time {
  font-weight: 600;
  font-size: 20px;
}

#event-details {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
}

#event-date {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
}

#event-location {
  margin-top: 10px;
  font-size: 18px;
}

#event-desc {
  margin-top: 10px;
}

#event-pic {
  position: fixed;
  
}

#pic-wrap {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 100px;
}