#event-title {
  color: #9b1522;
  font-weight: 600;
  font-size: 20px;
}

#event-time {
  font-weight: 600;
  font-size: 20px;
  color: #9b1522;
}

#event-details {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  color: #9b1522;
}

#event-date {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #9b1522;
}

#event-location {
  margin-top: 10px;
  font-size: 18px;
}

#event-desc {
  margin-top: 10px;
  color: #9b1522;
}

#event-pic {
  position: fixed;
  justify-content: center;
}

#event-pic img {
  width: 50%;

}

#pic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  right: 500px;

}
