#activity-users {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #e6e6e6;
}

#activity-users p {
  position: fixed;
  top: 18%;
  padding-left: 25px;
  width: 20%;
  right: 2%;
  font-weight: 900;
}

#activity-users h4 {
  float: left;
  position: fixed;
  top: 12%;
  padding-left: 25px;
  padding-right: 25px;
  width: 20%;
  right: 0%;
}


#activity-users .container span {
  color: #b33d40;
  font-family: sans-serif;
  font-size: 19.689px;
  transform: scaleX(1.0761);
  left: 890.155px;
  top: 113.497px;

}

#user-pic img {
  width: 35px;
  margin: 5px;
  border-radius: 50%;
  left: 933.635px;
  top: 162.238px;


}

#user-pic p {
  font-size: 14.788px;
  float: right;
  left: 933.635px;
  top: 162.238px;
}
#users-list {
  margin-top: 15px;
  
}

.users-name p {
  margin-top: 15px;
  color:  #990000;
  font-size: 24px;
  font-weight: 900;
  font-family: sans-serif;
}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

#activity-users {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #e6e6e6;
}


.activity-users-content {
  top: 15%;
  padding-left: 25px;
  padding-right: 25px;
  width: 20%;
}



#bio-pic img {
  width: 75px;
  border-radius: 50%;
}

#bio-pic2 {
  width: 75px;
  border-radius: 50%;
}

.users-name p {
  margin-top: 15px;
  color:  #990000;
  font-size: 24px;
  font-weight: 400;
  font-family: sans-serif;
}

*/