#activity-users {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #e6e6e6;
}

.users-name p {
padding: 7em;
font-size: 8px;
font-weight: 400;
margin-bottom: 0;
}

#user-pic img {
  padding: 10px;
  width: 105px;
  border-radius: 50%;
  margin-top: 65px;

}

.users-name p {
  font-size: 200%;
}

.connections {
  padding:7em;
  margin-top: 50px;

}
