 .add-event {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  padding: 1em;
  background-color: #e6e6e6;
  overflow: auto;
} 
 

/* 
.add-event {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #e6e6e6;
}

.upcoming-events p {
  margin-top: 50px;
  color: #9b1522;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1150px) and (min-width: 943px) {
  .upcoming-events p {
    font-size: 15px;
  }
}

@media (max-width: 942px) and (min-width: 768px) {
  .upcoming-events p {
    font-size: 13.5px;
  }
}

.past-events p {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 30px;
  color: grey;
}
.new-event button {
  color: white;
  font-size: 12px;
  font-weight: 50;
  background-color: #9b1522;
}

.add-event-content {
  top: 100px;
  left: 2%;
}

@media (max-width: 1008px) and (min-width: 768px) {
  .add-event {
    width: 22%;
  }

  .add-event-content {
    padding-top: 10px;
    padding-right: 10px;
    height: 100%;
    background-color: #e6e6e6;
  }
}

.new-event button:hover {
  background-color: #9b1522;
  color: white;
} */
