.navbar-default {
  background-color: #9b1522;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-header {
  color: white;
  font-size: 30px;
  font-weight: 100;
  margin-left: 0;
  font-family: "The Girl Next Door", cursive;
}

/* Decrease Women in Comedy text to prevent 
  icons to push further down
*/
@media screen and (max-width: 1078px) {
  #nav-header {
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin-left: 0;
    font-family: "The Girl Next Door", cursive;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav p {
  font-size: 12px;
  margin-bottom: 0;
}

i.fa {
  font-size: 20px;
  text-align: center;
}
.navbar-right {
  margin: 0;
}
.navbar-nav img {
  border-radius: 50%;
  width: 35px;
  border: 1px solid white;
}

.navbar-form {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-form .input-group > .form-control {
  width: 250px;
  height: 30px;
  border-radius: 20px;
}

.input-group i {
  position: absolute;
  float: right;
  top: 7px;
  right: 7px;
  color: gray;
  z-index: 2;
  cursor: pointer;
}
