/* Setting up grid start */
.feedContainer{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100px auto;
  grid-template-areas: 
    "header header header"
    "left main right";
  width: 100vw;
  height: 100vh;
}
.header{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-auto-rows: row1-start;
  grid-row-end: 2; 
}

.rightBar{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-auto-rows: 2;
  grid-row-end: 3; 
}

.leftBar{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-auto-rows: 2;
  grid-row-end: 3;
}
.mainContent{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-auto-rows: 2;
  grid-row-end: 3; 
}
/* Setting up grid end*/
.searchTerm {
  border-radius: 1em;
  border: 1px solid #e6e6e6;
  padding-left: 1em;
}

.feed-post-bar{
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100% auto;
}

.search{
  grid-column: 1/2;
  grid-row: 2/2;
  display: grid;
  margin-left: 1em;
  margin-right: 1em;
}
.search input{
  justify-content: start;
}

.post-button {
  grid-column: 2/2;
  grid-row: 2/2;
  justify-content: end;
  margin-left: 1em;
}

.post-button button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #9b1522;
  color: white;
}



